---
import Form from "../components/Form.astro";
import Testimonials from "../components/testimonials.astro";

const url = "https://oavtmoukxxeuszesbtzw.supabase.co/rest/v1/Testimonials?approved=is.true";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9hdnRtb3VreHhldXN6ZXNidHp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODIwNjI0MjksImV4cCI6MTk5NzYzODQyOX0.kT4O2jvJ8HvwuoS98-Z6R1PWo8dU-SSsGfL29ivC5oM";

const response = await fetch(url, {
  method: "GET",
  headers: {
    apikey: key,
    Accept: "application/json",
    "Content-Type": "application/json",
  },
});

const udsagn = await response.json();

function getFirstNChars(str, length) {
  return str.substring(0, length);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Omada Deli</title>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>
  <body>
    <header>
      <h1>Omada Deli</h1>
      <h3>wine · cheese · charcuterie · coffee · eggs · milk</h3>
    </header>
    <main>
      <div class="img_grid">
        <img class="deli_header" src="public/imgs/omada_deli_header.webp" alt="deli" />
      </div>
      <ul class="menu">
        <li>About</li>
        <li>News and events</li>
        <li>Tastings and functions</li>
        <li>Deli goods</li>
      </ul>
      <div class="grid_1-2">
        <div class="left">
          <ul class="about">
            <h2>About Omada Deli</h2>
            <li>Øster Farimagsgade 26</li>
            <li>2100 København Ø</li>
            <br />
            <li>Wednesdays 11–20</li>
            <li>Thursday 11–20</li>
            <li>Fridays 11–20</li>
            <li>Saturdays 11–20</li>
            <li>Sundays 11–20</li>
          </ul>
        </div>
        <div class="right">
          <img class="butik" src="public/imgs/butik.webp" alt="delibutik" />
          <p>
            Thirsty? Peckish? Curious? We’ve got you covered! <br />
            Here, we curate your simple needs for life’s better necessities; wine & food ...
          </p>
          <div class="grid_1-5">
            <p class="read_more">Read More</p>
          </div>
        </div>
      </div>

      <hr />
      <div class="margin">
        <h2>News and events</h2>
        <p>What’s happening in the deli over the coming weeks…</p>
        <p class="sign_up">Sign up for news →</p>
      </div>
      <div class="wrapper">
        <div class="item">
          <img src="public/imgs/deli1.png" alt="" />
        </div>
        <div class="item">
          <img src="public/imgs/deli2.png" alt="" />
        </div>
        <div class="item">
          <img src="public/imgs/deli3.png" alt="" />
        </div>
        <div class="item">
          <img src="public/imgs/deli4.png" alt="" />
        </div>
        <div class="item">
          <img src="public/imgs/deli5.png" alt="" />
        </div>
        <div class="item">
          <img src="public/imgs/deli1.png" alt="" />
        </div>
        <div class="item">
          <img src="public/imgs/deli2.png" alt="" />
        </div>
        <div class="item">
          <img src="public/imgs/deli3.png" alt="" />
        </div>
        <div class="item">
          <img src="public/imgs/deli4.png" alt="" />
        </div>
        <div class="item">
          <img src="public/imgs/deli5.png" alt="" />
        </div>
      </div>
      <hr />
      <div class="margin">
        <h2>Tasting and functions</h2>
        <p>What’s happening in the deli over the coming weeks…</p>
      </div>
      <img src="public/imgs/tasting_menu.png" alt="tasting_menu" class="tasting_menu" />
      <div class="margin">
        <h2 class="book">Book a tasting →</h2>
      </div>
      <hr />
      <div class="margin">
        <h2>Deli Goods</h2>
        <div class="shop">
          <p>Thirsty for more? Explore the best of our latest drops on our online shop</p>
          <a class="knap" href="https://omada.wine/">Shop wines at Omada.wine →</a>
        </div>
      </div>
      <div class="wrapper">
        <div class="item2">
          <a href="https://omada.wine/shop/deli-goods/wine-glasses/">
            <img src="public/imgs/vin2.jpg" alt="" />
            <div class="pris">
              <p class="deli_goods">Deli goods</p>
              <p>33,50€</p>
            </div>
          </a>
        </div>
        <div class="item2">
          <a href="https://omada.wine/shop/deli-goods/coffee-gamay-of-the-morning/">
            <img src="public/imgs/kaffe.jpg" alt="" />
            <div class="pris">
              <p class="deli_goods">Deli goods</p>
              <p>13€</p>
            </div>
          </a>
        </div>
        <div class="item2">
          <a href="https://omada.wine/">
            <img src="public/imgs/vin3.jpg" alt="" />
            <div class="pris">
              <p class="deli_goods">Deli goods</p>
              <p>13€</p>
            </div>
          </a>
        </div>
        <div class="item2">
          <a href="https://omada.wine/">
            <img src="public/imgs/juice2.jpg" alt="" />
            <div class="pris">
              <p class="deli_goods">Deli goods</p>
              <p>13€</p>
            </div>
          </a>
        </div>
        <div class="item2">
          <a href="https://omada.wine/shop/red/une-tranche-de-la-chapelle-2019-philippe-jambon-gerard-belaid/">
            <img src="public/imgs/vin4.jpg" alt="" />
            <div class="pris">
              <p class="deli_goods">Deli goods</p>
              <p>13€</p>
            </div>
          </a>
        </div>
        <div class="item2">
          <a href="https://omada.wine/">
            <img src="public/imgs/juice3.jpg" alt="" />
            <div class="pris">
              <p class="deli_goods">Deli goods</p>
              <p>13€</p>
            </div>
          </a>
        </div>
        <div class="item2">
          <a href="https://omada.wine/">
            <img src="public/imgs/juice1.jpg" alt="" />
            <div class="pris">
              <p class="deli_goods">Deli goods</p>
              <p>13€</p>
            </div>
          </a>
        </div>
        <div class="item2">
          <a href="https://omada.wine/">
            <img src="public/imgs/krydder.jpg" alt="" />
            <div class="pris">
              <p class="deli_goods">Deli goods</p>
              <p>13€</p>
            </div>
          </a>
        </div>
      </div>

      <hr />
      <div class="margin2">
        <h2>REVIEWS FROM OUR CUSTOMERS</h2>
        <!-- {
        udsagn.map((testimonial) => {
          return <Testimonials name={testimonial.name} age={testimonial.age} review={getFirstNChars(testimonial.review, 30) + "..."} />;
        })
      } -->

        <div class="grid_1-1-1">
          <div>
            <img src="public/imgs/review1.png" alt="" />
            <p>“Lorem ipsum dolor sit amet. Sed provident sint sit harum repellat aut necessitatibus quia id ducimus expedita.”</p><p>Indsendt af Navn, Navnerson</p>
          </div>
          <div>
            <img src="public/imgs/review2.png" alt="" />
            <p>“Lorem ipsum dolor sit amet. Sed provident sint sit harum repellat aut necessitatibus quia id ducimus expedita.”</p><p>Indsendt af Navn, Navnerson</p>
          </div>
          <div>
            <img src="public/imgs/review3.png" alt="" />
            <p>“Lorem ipsum dolor sit amet. Sed provident sint sit harum repellat aut necessitatibus quia id ducimus expedita.”</p>
            <p>Indsendt af Navn, Navnerson</p>
          </div>
        </div>
      </div>
      <lottie-player class="lottie-player" src="https://lottie.host/e3629d43-e3a7-46f4-ad57-175dbe78b7f0/4uXwMI2ew3.json" background="transparent" speed="0.5" style="width: 500px; height: 500px" loop autoplay></lottie-player>
    </main>
    <footer>
      <div class="grid_1-1-1-1">
        <div>
          <ul>
            <h2>OMADA.WINE</h2>
            <p>The dedicated online hideout for the worldly cosmopolitans, drinking from home.</p>
            <img src="public/imgs/kort.png" alt="kort" class="kort" />
            <img src="public/imgs/alder.png" alt="alder" class="alder" />
          </ul>
        </div>
        <div>
          <ul>
            <li>The Wine Journal</li>
            <li>About us</li>
            <li>Omada Industry (Wholesale)</li>
            <li>Contact us</li>
            <li>Delivery</li>
            <li>Payments</li>
          </ul>
        </div>
        <div>
          <ul>
            <li>Industry login</li>
            <li>Partner login</li>
            <li>Privacy login</li>
            <li>Cookie Policy</li>
            <li>Terms & Conditions</li>
          </ul>
        </div>
        <div>
          <ul>
            <h2>Newsletter</h2>
            <input class="input" type="text" placeholder="your@address.com" />
            <p class="newsletter">Sign up</p>
            <p>Sign up to out free newsletter and stay in the loop with the latest news on arrivals and drops.</p>
            <hr />
            <h2>Review</h2>
            <p>Help us get better! Write a review :)</p>
            <Form />
          </ul>
        </div>
      </div>
    </footer>
  </body>

  <style>
    @font-face {
      font-family: "Aviano Sans";
      src: url("public/font/aviano_sans.otf");
    }
    @font-face {
      font-family: "Iowan";
      src: url("public/font/iowan_old_style_.ttf");
    }
    header {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
    }
    body {
      background-color: #fffef3;
    }

    h1 {
      font-family: Aviano Sans;
      color: #f75443;
      grid-column: 2;
      text-align: center;
      font-size: 95px;
    }
    h2 {
      font-family: Aviano Sans;
      color: #f75443;
      font-weight: lighter;
      font-size: xx-large;
    }
    h3 {
      grid-row: 2;
      grid-column: 2;
      text-align: center;
      font-family: Aviano Sans;
      font-weight: lighter;
      margin-top: -8%;
    }
    .img_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .deli_header {
      grid-column: 2;
      width: 120%;
      place-self: end;
    }
    .menu {
      display: flex;
      list-style: none;
      justify-content: space-around;
      margin-left: -3%;
      margin-bottom: 5%;
    }
    .menu li {
      text-align: center;
      font-family: Iowan;
      color: #f75443;
      border: 1px solid #f75443;
      padding: 1% 8%;
      transition: 0.3s;
    }
    .menu li:hover {
      color: #fffef3;
      border: 1px solid #fffef3;
      background-color: #f75443;
      cursor: pointer;
    }
    .grid_1-2 {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    .grid_1-5 {
      display: grid;
      grid-template-columns: 1fr 5fr;
    }
    .about {
      list-style: none;
      text-align: center;
    }
    .about li {
      font-family: Iowan;
    }
    p {
      font-family: Iowan;
    }
    .butik {
      width: 100%;
    }
    .read_more {
      text-align: center;
      font-family: Iowan;
      color: #f75443;
      border: 1px solid #f75443;
      padding: 0.5em;
      transition: 0.3s;
    }
    .read_more:hover {
      color: #fffef3;
      border: 1px solid #fffef3;
      background-color: #f75443;
      cursor: pointer;
    }
    .right {
      margin-left: 10%;
    }
    hr {
      color: #f75543;
      width: 90%;
    }
    .margin {
      margin-left: 5%;
    }
    .sign_up {
      text-align: center;
      font-family: Iowan;
      border: 1px solid black;
      padding: 0.75em;
      margin-right: 80%;
      transition: 0.3s;
    }
    .sign_up:hover {
      border: 1px solid #f75443;
      color: #f75443;
      cursor: pointer;
    }
    .wrapper {
      border: 1px solid #fffef3;
      display: flex;
      overflow-x: auto;
      margin-top: 2%;
    }
    .wrapper::-webkit-scrollbar {
      width: 0;
    }
    .wrapper .item {
      margin-right: 2px;
      opacity: 70%;
      transition: 0.3s;
    }
    .wrapper .item:hover {
      opacity: 100%;
      cursor: pointer;
    }
    .wrapper .item2 {
      margin-right: 2px;
      opacity: 70%;
      transition: 0.3s;
    }
    .wrapper .item2 a {
      text-decoration: none;
      color: black;
    }

    .wrapper .item2:hover {
      opacity: 100%;
      cursor: pointer;
    }
    .pris {
      margin-left: 4%;
      margin-top: -3.5%;
      font-size: small;
    }
    .deli_goods {
      margin-bottom: -3%;
    }
    .tasting_menu {
      max-width: 100%;
    }
    .book {
      text-align: center;
      margin-top: -10%;
      z-index: 100;
      font-weight: bold;
      color: #f75443;
      font-size: larger;
      transition: 0.3s;
    }
    .book:hover {
      color: black;
      cursor: pointer;
    }
    .shop {
      display: flex;
      list-style: none;
    }
    .knap {
      margin-left: 4%;
      border: solid black 1px;
      color: black;
      text-decoration: none;
      padding: 0.75em;
      margin-top: 0.5%;
      transition: 0.3s;
    }
    .knap:hover {
      color: #f75443;
      border: solid #f75443 1px;
    }
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
    .grid_1-1-1 p {
      width: 90%;
    }
    .margin2 {
      margin-left: 5%;
      margin-right: 5%;
    }
    .grid_1-1-1-1 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      margin-right: 5%;
      padding-top: 2%;
      line-height: 1.5em;
    }
    footer {
      background-color: #ece9e0;
      font-family: Iowan;
    }
    footer ul {
      list-style: none;
    }
    footer li:hover {
      cursor: pointer;
      color: #f75443;
    }

    footer h2 {
      font-size: large;
      color: black;
      font-weight: 100;
    }
    .kort {
      width: 90%;
    }
    .alder {
      width: 60%;
      margin-top: 20%;
    }
    .input {
      width: 100%;
    }
    .newsletter {
      color: white;
      background: black;
      text-align: center;
      width: 97.5%;
      border-radius: 0.1rem;
      padding: 0.5em;
    }
    .newsletter:hover {
      opacity: 60%;
      cursor: pointer;
    }
    .lottie-player {
      margin: -9% 0% 0% 30%;
    }
  </style>
</html>
