---
import Form from "../components/Form.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="public/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Review</title>
  </head>
  <body>
    <header>
      <a class="back" href="/omada">
        <p>◀</p>
      </a>
      <h1>Omada Deli</h1>
      <h3>wine · cheese · charcuterie · coffee · eggs · milk</h3>
    </header>
    <main class="grid_1-1">
      <div class="tekst">
        <h2>" ... selection is amazing!"</h2>
        <p>
          "If you're looking for a great wine retailer, look no further than Omada.wine. I, John Smith, have been a customer for years and their selection is amazing, and their prices are very competitive. What really sets them apart, though, is their customer service. They are always willing to
          help you find the perfect wine for any occasion, and they truly care about their customers. I would definitely recommend Omaha.wine to anyone looking for a great wine buying experience."
        </p>
        <p>John Smith, 25</p>
      </div>
      <div>
        <div>
          <img class="review_single" src="/imgs/review_single.png" alt="deli" />
        </div>
      </div>
    </main>
    <footer>
      <div class="grid_1-1-1-1">
        <div>
          <ul>
            <h2>OMADA.WINE & DELI</h2>
            <p>The dedicated online hideout for the worldly cosmopolitans, drinking from home.</p>
            <img src="/imgs/kort.png" alt="kort" class="kort" />
            <img src="/imgs/alder.png" alt="alder" class="alder" />
          </ul>
        </div>
        <div>
          <ul>
            <li>The Wine Journal</li>
            <li>About us</li>
            <li>Omada Industry (Wholesale)</li>
            <li>Contact us</li>
            <li>Delivery</li>
            <li>Payments</li>
          </ul>
        </div>
        <div>
          <ul>
            <li>Industry login</li>
            <li>Partner login</li>
            <li>Privacy login</li>
            <li>Cookie Policy</li>
            <li>Terms & Conditions</li>
          </ul>
        </div>
        <div>
          <ul>
            <h2>Newsletter</h2>
            <input class="input" type="text" placeholder="your@address.com" />
            <p class="newsletter">Sign up</p>
            <p>Sign up to out free newsletter and stay in the loop with the latest news on arrivals and drops.</p>
            <hr />
            <h2>Review</h2>
            <p>Help us get better! Write a review :)</p>
            <Form />
          </ul>
        </div>
      </div>
    </footer>
  </body>

  <style>
    header {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
    }
    .back {
      margin-left: 10%;
      color: #f75443;
      font-size: 25px;
      text-decoration: none;
    }
    .back:hover {
      opacity: 50%;
      font-size: 25px;
      text-decoration: none;
    }
    body {
      background-color: #fffef3;
    }

    h1 {
      font-family: Aviano Sans;
      color: #f75443;
      grid-column: 2;
      text-align: center;
      font-size: 95px;
    }
    h2 {
      font-family: Aviano Sans;
      color: #f75443;
      font-weight: lighter;
      font-size: xx-large;
    }
    h3 {
      grid-row: 2;
      grid-column: 2;
      text-align: center;
      font-family: Aviano Sans;
      font-weight: lighter;
      margin-top: -8%;
    }
    .review_single {
      width: 100%;
      place-self: end;
    }
    .tekst {
      margin-right: 10%;
      margin-left: 10%;
    }

    .grid_1-1 {
      margin-top: 5%;
      margin-bottom: 5%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .grid_1-1-1-1 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      margin-right: 5%;
      padding-top: 2%;
      line-height: 1.5em;
    }
    footer {
      background-color: #ece9e0;
      font-family: Iowan;
    }
    footer ul {
      list-style: none;
    }
    footer li:hover {
      cursor: pointer;
      color: #f75443;
    }

    footer h2 {
      font-size: large;
      color: black;
      font-weight: 100;
    }
    .kort {
      width: 90%;
    }
    .alder {
      width: 60%;
      margin-top: 20%;
    }
    .input {
      width: 100%;
    }
    .newsletter {
      color: white;
      background: black;
      text-align: center;
      width: 97.5%;
      border-radius: 0.1rem;
      padding: 0.5em;
    }
    .newsletter:hover {
      opacity: 60%;
      cursor: pointer;
    }
    @media only screen and (max-width: 800px) {
      .back {
        font-size: 15px;
        margin-top: 0%;
      }
      header {
        grid-template-columns: 1fr;
      }
      h1 {
        margin-top: 15%;
        font-size: 50px;
        line-height: 1em;
        margin-left: -7%;
      }
      h2 {
        font-family: Aviano Sans;
        color: #f75443;
        font-weight: lighter;
        font-size: large;
      }
      h3 {
        font-size: 11px;
        margin-left: -7%;
      }
      .grid_1-1 {
        margin-top: -2%;

        grid-template-columns: 1fr;
      }
      .tekst {
        margin-right: 2%;
        margin-left: 2%;
        font-size: 14px;
        line-height: 1.25rem;
      }
      .review_single {
        width: 100%;
      }
      .grid_1-1-1-1 {
        grid-template-columns: 1fr;
      }

      .kort {
        width: 50%;
      }
      .alder {
        width: 50%;
        margin-top: 0%;
      }
      footer li {
        font-size: small;
        margin-bottom: -2%;
      }
      .newsletter {
        color: white;
        background: black;
        text-align: center;
        width: 97.5%;
        border-radius: 0.1rem;
        padding: 0.5em;
      }
    }
  </style>
</html>
